behave==1.2.6
behaving==1.5.6
pycrypto==2.6.1
pymongo==3.11.3
pytest==6.2.2
pytest-order==1.0.0
python-jose==3.2.0
PyYAML==5.4.1
requests==2.25.1
selenium==4.1.0
flake8==3.8.4
ipdb==0.13.5
hvac==0.10.8
pillow==9.3.0
