stages:
  - test
  - build

run_mayday_test:
  image: gcr.io/mist-ops/fullstack:latest
  stage: test
  only:
    - triggers
    - master
  before_script:
    - export DISPLAY=:1.0
    - Xvfb :1 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - cd ..
    - rm -rf tests
    - mkdir tests
    - cp -r -t tests $CI_PROJECT_NAME/*
    - cp /chromedriver tests/gitlab/chromedriver
    - chmod 744 tests/gitlab/chromedriver
    - export "PATH=$(pwd)/tests/gitlab:$PATH"
    - /core.env/bin/pip install -e tests
    - mkdir -p /builds/mistio/$CI_PROJECT_NAME/var/log
    - cp -a /var/log/* var/log/
    - rm -rf /var/log
    - ln -s /builds/mistio/$CI_PROJECT_NAME/var/log /var/log
  script:
    - >
        /core.env/bin/ipython tests/prepare_env.py --
        --screenshot-path= /var/log/error -k
        --webdriver-log= /var/log/chromedriver.log
        --webdriver-path=$(pwd)/tests/gitlab/chromedriver
        --js-console-log= /var/log/js_console.log
        -D BEHAVE_DEBUG_ON_ERROR
        -k --tags=alert,graph,ssh,celery,google_sso_signin,github_sso_signin
        tests/legacy_gui/core/mayday/features
  artifacts:
    paths:
      - var/log/chromedriver.log
      - var/log/js_console.log
      - var/log/error.*
      - test.mp4
    expire_in: 7 days
    when: on_failure
